<!DOCTYPE html>
<html>
	<head>
		<title>Videowall</title>
		<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
		<script src="http://simplewebrtc.com/latest.js"></script>
		<script type="text/javascript" src="/js/scripts.js"></script>
		<link rel="stylesheet" type="text/css" media="screen" href="/static/style.css" />
	</head>
	<body>
{!-- 		<canvas id="ownCanvas"></canvas>
		<video autoplay="autoplay" id="ownVideo" style="display:none;"></video>
		<canvas id="remoteCanvas"></canvas>
		<video id="remoteVideo" autoplay="autoplay" style="display:none;"></video> --}

		<div id="localVideo"></div>
		<div id="remotesVideos"></div>

	</body>
</html>